<?xml version="1.0" encoding="UTF-8"?><project-modules id="moduleCoreId" project-version="1.5.0">
    <wb-module deploy-name="MetaApi">
        <wb-resource deploy-path="/" source-path="/WebContent" tag="defaultRootSource"/>
        <wb-resource deploy-path="/WEB-INF/classes" source-path="/src"/>
        <dependent-module archiveName="json-simple-1.1.1.jar" deploy-path="/WEB-INF/lib" handle="module:/classpath/lib//home/pmalmierca/eclipse-workspace/json-simple-1.1.1.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="mimepull-1.9.10.jar" deploy-path="/WEB-INF/lib" handle="module:/classpath/lib//home/pmalmierca/eclipse-workspace/mimepull-1.9.10.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="jersey-media-multipart-2.27.jar" deploy-path="/WEB-INF/lib" handle="module:/classpath/lib//home/pmalmierca/eclipse-workspace/jersey-media-multipart-2.27.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <property name="context-root" value="MetaApi"/>
        <property name="java-output-path" value="/MetaApi/build/classes"/>
    </wb-module>
</project-modules>
